div
  label.radio#radio-first
    input.radio__input(
      type='radio'
      name='name1'
    )
    span.radio__btn
    span.text Мужчина

  label.radio
    input.radio__input(
      type='radio'
      name='name1'
    )
    span.radio__btn
    span.text Женщина