h3.title CHECKBOX BUTTONS
label.checkbox-line
  include checkbox-item
  span.checkbox-text Можно курить
label.checkbox-line
  include checkbox-item
  span.checkbox-text Можно с питомцами
label.checkbox-line
  include checkbox-item
  span.checkbox-text Можно пригласить гостей (до 10 человек)