.checkbox {
  display: none;
}

.label {
  margin: 30px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $purple;
  border-radius: 4px;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background: url(./assets/images/Box.png) no-repeat;
  opacity: 0;
}

.checkbox:checked + .box::before {
  opacity: 1;
}

// Переделать с учетом того, что в ненажатом состоянии чекбокс серый. А в нажатом пурпурный
