.title {
  margin-bottom: 16.56px;
}

.checkbox-line {
  display: flex;
  margin-bottom: 10px;
}

.checkbox-text {
  padding-top: 1px;
  line-height: 19px;
  color: $darkShade50;
  margin-left: 10px;
}
