.checkbox {
  display: inline-flex;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover input ~ .checkbox__box,
  &:hover input ~ .checkbox__text {
    border-color: $purple;
    color: $darkShade75;
  }

  &__input {
    display: none;
    &:checked + .checkbox__box {
      border-color: $purple;
      color: $darkShade75;
      background-position: 50% 45%;
      background-repeat: no-repeat;
      background-image: url(./assets/images/Box.png);
    }
    &:checked ~ .checkbox__text {
      color: $darkShade75;
    }
  }

  &__box {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    transition: border-color 0.2s;
  }

  &__text {
    padding-top: 1px;
    color: $darkShade50;
    margin-left: 10px;
    user-select: none;
    transition: color 0.2s;
  }
}
