label.checkbox
  input.checkbox__input(
    type='checkbox'
  )
  span.checkbox__box

//- Наверное, придется переделать так, чтобы строка с текстом была в этом блоке чекбокса и каждый раз подставлялся нужный текст (миксины?)