h3.title CHECKBOX BUTTONS
lable.checkbox-line
  include checkbox-item
  span.checkbox-text Можно курить
.checkbox-line
  include checkbox-item
  span.checkbox-text Можно с питомцами
.checkbox-line
  include checkbox-item
  span.checkbox-text Можно пригласить гостей (до 10 человек)