.range-slider {
  position: relative;
  width: 288px;
  left: -11px;

  &__text {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 11px 23px 11px;
  }

  &__text-price {
    font-size: 12px;
    line-height: 12px;
  }

  &__text-left {
    color: $darkShade50;
  }

  &__text-right {
    color: $darkShade50;
  }

  &__stylized {
    position: relative;
    z-index: 1;
    height: 6px;
    margin: 0 11px;
  }

  &__track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid $darkShade25;
  }

  &__range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: $green;
  }

  &__thumb {
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    background-color: $green;
    border: 2px solid white;
    border-radius: 50%;
    // box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
    // transition: box-shadow 0.3s ease-in-out;
  }
}

.thumb-left {
  // Положение круглого ползунка на линии (возможно придется корректировать)
  transform: translate(-8px, -5px);
}

.thumb-right {
  // Положение круглого ползунка на линии (возможно придется корректировать)
  transform: translate(8px, -5px);
}

.range-slider__input {
  // top: 40px;
  position: absolute;
  //  Что это
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 6px;
  width: 100%;
  opacity: 0;
}

.range-slider__input::-webkit-slider-thumb {
  pointer-events: all;
  width: 19px;
  height: 19px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
