body {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 24px;
}

h1 {
  font-family: Quicksand-Regular;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: Quicksand-Regular;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
