.dropdown
  .text-field.dropdown__btn Сколько гостей
    .dropdown__expand-symbol expand_more
  .dropdown__content
    .dropdown__content-item
      h3 ВЗРОСЛЫЕ
      .dropdown__content-left
        span.drop-content-round-btn -
        h3 0
        span.drop-content-round-btn.round-btn-plus +
    .dropdown__content-item
      h3 ДЕТИ
      .dropdown__content-left
        span.drop-content-round-btn -
        h3 0
        span.drop-content-round-btn.round-btn-plus +
    .dropdown__content-item
      h3 МЛАДЕНЦЫ
      .dropdown__content-left
        span.drop-content-round-btn -
        h3 0
        span.drop-content-round-btn.round-btn-plus +
    .dropdown__bottom-item
      h3.drop-bottom-clear ОТЧИСТИТЬ
      h3.drop-bottom-apply ПРИМЕНИТЬ