.text-field {
  position: relative;
  width: 320px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  color: $darkShade75;
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 18px;
  padding-left: 14px;
  transition: border-color 0.2s;

  &::placeholder {
    color: $darkShade25;
  }

  &:focus,
  &:hover {
    // Что такое outline?
    outline: none;
    border: 1px solid $darkShade50;
    color: $darkShade75;
  }
}
