header.header
  .container
    .menu
      ul.menu__list_left
        li.menu__item
          img(src='../assets/images/Logo.jpg')
        li.menu__item
          a.menu__link(href="") О нас
        li.menu__item
          a.menu__link(href="") Услуги
        li.menu__item
          a.menu__link(href="") Вакансии
        li.menu__item
          a.menu__link(href="") Новости
        li.menu__item
          a.menu__link(href="") Соглашения

      ul.menu__list_right
        li.menu__item
          a.menu__link.menu_btn_1(href="") ВОЙТИ
        li.menu__item
          a.menu__link.menu_btn_2(href="") ЗАРЕГИСТРИРОВАТЬСЯ