header.header
  .container
    .menu
      ul.menu__list
        li.menu___item
          a.menu__link(href="") О нас
        li.menu___item
          a.menu__link(href="") Услуги
        li.menu___item
          a.menu__link(href="") Вакансии
        li.menu___item
          a.menu__link(href="") Новости
        li.menu___item
          a.menu__link(href="") Соглашения

        ul.menu__list
        li.menu___item
          a.menu__link.menu_btn(href="") Кнопка войти
        li.menu___item
          a.menu__link.menu_btn(href="") Кнопка зарегистрироваться