label.like
  input.like__input#like(
    type='checkbox'
  )
  span.like__btn
    span.material-icons#heart-unchecked favorite_border
    span.material-icons#heart-checked favorite
    span.like__counter 2