doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    //- include ./blocks/components/header.pug
    //- include ./blocks/form-elements/text-field
    include ./blocks/form-elements/masked-text-field