doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    //- Разобраться с подключением 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")

  body
    .page
      include ./blocks/sections/section-1
      include ./blocks/sections/section-2