doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    //- Разобраться с подключением 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")

  body
    include ./blocks/components/header.pug
    include ./blocks/form-elements/text-field/text-field
    include ./blocks/form-elements/masked-text-field/masked-text-field
    include ./blocks/form-elements/checkbox-buttons/checkbox-buttons
    include ./blocks/form-elements/checkbox-buttons/checkbox-item
    include ./blocks/form-elements/radio-buttons/radio-buttons
    include ./blocks/form-elements/radio-buttons/radio-button
    include ./blocks/form-elements/toggle/toggle
    include ./blocks/form-elements/like-button/like-button
    include ./blocks/form-elements/rate-button/rate-button-mixin
    include ./blocks/form-elements/rate-button/rate-button
    include ./blocks/form-elements/dropdown/dropdown
