@import "./common-styles/color.scss";
@import "./common-styles/text.scss";
@import "./blocks/pages/page.scss";
@import "./blocks/form-elements/text-field/text-field.scss";
@import "./blocks/form-elements/checkbox-buttons/checkbox-item.scss";
@import "./blocks/form-elements/checkbox-buttons/checkbox-buttons.scss";
@import "./blocks/form-elements/radio-buttons/radio-buttons.scss";
@import "./blocks/form-elements/toggle/toggle.scss";
@import "./blocks/form-elements/like-button/like-button.scss";
@import "./blocks/form-elements/rate-button/rate-button.scss";
@import "./blocks/form-elements/dropdown/dropdown.scss";
@import "./blocks/sections/section.scss";
@import "./blocks/form-elements/range-slider/range-slider.scss";

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("ttf"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("ttf"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("./assets/fonts/Quicksand-Regular.ttf") format("ttf"),
    url("./assets/fonts/Quicksand-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: "Material Icons";
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local("Material Icons"), local("MaterialIcons-Regular"),
//     url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
//     url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
//     url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
// }

// Обнуление.
* {
  margin: 0;
  padding: 0;
  color: $darkShade100;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Отключение transition при загрузке страницы.
// .transition-disabled {
//   transition: none !important;
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
// }

// Задание стилей.
body {
  max-width: 1440px;
  margin: auto;
}
